--extra-index-url https://download.pytorch.org/whl/cpu
boto3
captum
torch
torch-model-archiver
torchserve
torchvision
# torch==1.13.0+cpu
# Temporary fix to TorchServe bug. It's not actually needed for our handlers.
pyyaml
